$input-focus-border-color: white;
$input-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
$form-select-indicator-color: $input-focus-border-color;
$form-select-focus-box-shadow: $input-btn-focus-box-shadow;
$enable-grid-classes: false;
$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

header > .d-flex:nth-child(2) {
  width: 20%;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.card {
  width: 16rem;
  height: 22rem;
}

.card:hover {
  box-shadow: 0 0 1rem 0.4rem rgba($primary, 0.75);
}
